a {
    color:  #6cc6c6;
    text-decoration: none;  
}

a:hover {
    text-decoration: underline;
}

body {
    background: #f9f9f9;
}

nav {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background: gray;
    opacity: 0.8;
    width: 200px;
    transform: translate3d(-150px, 0, 0);
    transition: transform 0.4s ease;
}

nav ul {
    list-style: none;
    position: absolute;
    text-align: left;
    margin-left: -195px;
    top: 30px;
    
}

nav ul li {
    padding: 3px;
}

.nav-a {
    font-family: calibri; 
    font-size: 14pt;
    color: #151515;
    font-weight: 700;    
}

.nav-a:hover {
    color: white;
    background: #ed0367;
    text-decoration: none;
}

.nav-btn {
    display: block;
    position: absolute;
    width: 32px;
    height: 32px;
    left: 160px;
    top: 5px;
    background: none;
    background-image: url(icons/menu-button.png); 
    border: none;
}

.nav-bar-active {
    transform: translate3d(0, 0, 0);
    width: 200px;
}

.search-bar {
    padding: 15px;
    z-index: 10;
}

.search {
    border-radius: 5px;
    padding: 7px;
    width: 60%;
    height: 60%;
    margin: 0 20%;;
    border: solid 1px #eeeeee;
    background: #eeeeee;
    font-weight: 600;
    font-size: 14pt;
    padding-left: 1%;
    color: #707070;
}
 
.all-items {
    margin-left: 40px;
}

.content-nav-active {
	margin-left: 200px;
}

.item {
    width: 250px;;
    margin: 5px 5px;
    display: inline-block;
    margin: 10px 15px;
    padding: 0.7%;
    border-radius: 8px;
    position: relative; 
    font-family: Calibri;
    font-size: 13pt;
    color: #707070;
    box-shadow: 3px 3px 1px #ececec;
    background: white;
}

.delete {
    position: absolute;
    right: 1%;
    top: 1%;
    width: 8%;
    transition: width 0.2s;
}

.delete:hover {
    width: 9%;
}

.img-container {
    max-width: 250px;
    max-height: 250px;
    margin: 0 auto;
    border-radius: 8px;
    text-align: center;
    vertical-align: middle;
    display: table;
    
    
}

.profile-img {
   display: block;
   margin: 0 auto;
   width: 100%;
   border-radius: 8px;
}

.name {

    font-size: 27pt;
    color: white;
    margin-top: -10%; 
    background-color: #ed0367;
    position: absolute;
    max-width: 90%;
    padding: 0 2.5px;
}

.description {
    margin-top: 7%;
    font-size: 17pt;
    margin-bottom: 3%;

}

.des-icons {
    width: 6.5%;
    vertical-align: text-top;
    margin-right: 1%;
    margin-top: 0.5%;
}

.about {
    margin-bottom: 2%;
}

.about-item {
    padding: 0.5%;
}

.quote {
    margin: 0% 1% 3% 1%;
    font-family: consolas;
    font-size: 12pt;
    //font-style: italic;
    color: #a6a6a6;
}

footer {
    text-align: right;
    
}

footer img {
    width: 10%;
    margin: 0 1.5%;
    transition: width, 0.2s;
    opacity: 0.6;
}

footer img:hover {
    opacity: 1;      
}

.plus-img {
    width: 9%;
}

.star-button {
    background: url(icons/star.png);
}

@media screen and (max-width: 480px) {
	
	.item {
		width: 150px;
	}
}
 