a {
    color:  #6cc6c6;
    text-decoration: none;  
}

nav {
    background-color: #b0b0b0;
    height: 40px;
    padding: 0.5% 1.5%;
    font-family: calibri;
    font-size: 2vw;
}

nav a {
    color: white;
    
}

body {
    background: #f9f9f9;
}
 
.item {
    width: 20%;
    margin: 5px 5px;
    display: inline-block;
    margin: 10px 15px;
    padding: 0.7%;
    border-radius: 8px;
    position: relative; 
    font-family: Calibri;
    font-size: 1.3vw;
    color: #707070;
    box-shadow: 3px 3px 1px #ececec;
    background: white;
}

.delete {
    position: absolute;
    right: 1%;
    top: 1%;
    width: 8%;
    transition: width, 0.2s;
}

.delete:hover {
    width: 9%;
}

.img-container {
    max-width: 250px;
    max-height: 250px;
    margin: 0 auto;
    border-radius: 8px;
    text-align: center;
    vertical-align: middle;
    display: table;
    
    
}

.profile-img {
   display: block;
   margin: 0 auto;
   width: 100%;
   border-radius: 8px;
}

.name {

    font-size: 2.7vw;
    color: white;
    margin-top: -10%; 
    background-color: #ed0367;
    position: absolute;
    max-width: 90%;
    padding: 0 2.5px;
}

.description {
    margin-top: 7%;
    font-size: 1.6vw;
    margin-bottom: 3%;

}

.des-icons {
    width: 6.5%;
    vertical-align: text-top;
    margin-right: 1%;
    margin-top: 0.5%;
}

.about {
    margin-bottom: 2%;
}

.about-item {
    padding: 0.5%;
}

.quote {
    margin: 0% 1% 3% 1%;
    font-family: consolas;
    font-size: 1.2vw;
    //font-style: italic;
    color: #a6a6a6;
}

footer {
    text-align: right;
    
}

footer img {
    width: 10%;
    margin: 0 1.5%;
    transition: width, 0.2s;
    opacity: 0.6;
}

footer img:hover {
    opacity: 1;      
}

.plus-img {
    width: 9%;
}

.star-button {
    background: url(icons/star.png);

 